services:
  gateway:
    build:
      context: .
      dockerfile: api_gateway/Dockerfile
    ports:
      # The local port is now 3001, which is very likely to be free.
      - "3001:80"
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build: ./backend
    env_file: .env
    volumes:
      - ./backend/app:/app/app
    depends_on:
      - postgres
      - redis
    restart: unless-stopped
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    dns:
      - 8.8.8.8

  postgres:
    image: ankane/pgvector:v0.5.1
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped

  worker:
    build: ./backend
    command: celery -A app.workers.celery_app.celery worker --loglevel=info
    env_file: .env
    volumes:
      - ./backend/app:/app/app
    depends_on:
      - redis
      - postgres
    restart: unless-stopped
    dns:
      - 8.8.8.8

volumes:
  postgres_data: